body {
    min-height: 740px;
  }

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 1.4;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
}
